.Rproj.user
.Rhistory
.RData
.Ruserdata
.jupyter_cache
tex-hacks/*
lua/*
/.quarto/
*.tif
*.tif.aux.xml
*.tif:Zone.Identifier
modis-aqua.PNG:Zone.Identifier
modis-aqua.PNG
berkeley.jpg
berkeley.jpg:Zone.Identifier
scratch-pad.qmd
update-tlmgr-latest.sh


/.luarc.json
index.log

